// ADDRESS SECTION
#addressSection,
#contactsSection{
    background-color: #FFF;
    background-image: url(assets/images/B_Simbolo_estatico_Contactos.svg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 220px 130%;
    
    -webkit-background-size:  450px;
    -moz-background-size:     450px;
    -o-background-size:       450px;
    background-size:          450px;

    padding: 180px 0;
    position: relative;
    z-index: 0;
  
    & .contactForm h1,
    & .addressContainer h1{
      height: 41px;
      font-size: 22px;
      font-weight: 300;
      color: #a7a7a7;
    }

    & .contactForm p.h1,
    & .addressContainer span{
      font-family:  $font-family-serif;
      font-size:    2.4rem; //38px
    }

  
    & .seeOnMap{
        margin-top:   70px;
        width:        380px;
        margin-right:     20px;


        & .arrow{
          float:left;
          width: 230px;

          &::before {
            margin: 4px auto;
            width: 170px;
          }
        }

        & .icon{
          right: 45px;
        }

        &:hover .arrow::before{
          width: 210px;
        }
    }

    & .submitForm{
        background: none;
        border: none;
        outline: none;

        & .arrow{
          float:left;
          
          &::before {
            width: 0;
            margin-top: 6px;
          }
        }

        & .icon{
          right: 3px;
        }

        &:hover .arrow::before{
          width: 30px;
        }
    }

    & .seeOnMap,
    & .submitForm{
      display:      block;
      float:        right;
      position:     relative;
      
      & .text{
        float: left;
        text-transform:   uppercase;
        text-decoration:  none;
        font-family:      $font-family-sans-serif;
        font-size:        22px;
        font-weight:      300;
        color:            $gray-900;
        line-height:      15px;
        -webkit-transition:   color 0.2s cubic-bezier(0, .5, 0, 1);
        -moz-transition:      color 0.2s cubic-bezier(0, .5, 0, 1);
        -o-transition:        color 0.2s cubic-bezier(0, .5, 0, 1);
        transition:           color 0.2s cubic-bezier(0, .5, 0, 1);
      }
      
      & .arrow{
        float:left;
        // width: 230px;

        &::before {
          content: '';
          display:block;
          background-color: $gray-900;
          // margin: 5px auto;
          // width: 170px;
          height: 2px;
          -webkit-transition:   background-color 0.2s cubic-bezier(0, .5, 0, 1);
          -moz-transition:      background-color 0.2s cubic-bezier(0, .5, 0, 1);
          -o-transition:        background-color 0.2s cubic-bezier(0, .5, 0, 1);
          transition:           background-color 0.2s cubic-bezier(0, .5, 0, 1);
        }
      }

      & .icon{
        position: absolute;
        top: -8px;

        & .svgpath{
          -webkit-transition:   .1s opacity 0.1s cubic-bezier(0, .5, 0, 1);
          -moz-transition:      .1s opacity 0.1s cubic-bezier(0, .5, 0, 1);
          -o-transition:        .1s opacity 0.1s cubic-bezier(0, .5, 0, 1);
          transition:           .1s opacity 0.1s cubic-bezier(0, .5, 0, 1);
          opacity: 0;
        }
      } 
      
      &:hover {
        .text{
          color: #c47c5a;
        }
       
        .arrow::before{
            background-color: #c47c5a;
        }
        .svgpath{
          opacity: 1;
        }
      }
    }

    // /* Vertical Line */
	&::before,
	&::after{
		content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        width: 1px;
        height: 100%;
        background-color: $gray-300;
	}

	&::before{ left: 21%; }
}
  
.contactsContainer{
  padding: 30px 0;

  & > a {
    line-height: 2.5rem;
  }
  
  p, a {
    font-family:      $font-family-sans-serif;
    font-size:        1.4rem; //22px
    font-weight:      300;
    //color: $gray-600; //a7a7a7
    text-decoration:  none;
  }

  p, p a{ font-size: 1.25rem;}


}

#contactsSection{
    border-top: 1px solid $gray-300;

    .contactForm{
        form {
            margin: 70px 0; 
        }
    }
}



@include media-breakpoint-down(sm) {
    #addressSection,
    #contactsSection {
      padding: 80px 0;
    }

    #addressSection{

      .addressContainer address {
        
        max-width: 70%;

        span{
          font-size: 1.8rem;
          max-width: 80%;
        }
      }

      & .seeOnMap {
          margin-top: 20px;
          float: none;
          
          .text{
            color: #c47c5a; 
            margin-bottom: 70px;
            margin-top: 0;
          }

          .arrow::before{
            width: 210px;
            background-color: $gray-900;
          }
          .icon .svgpath{
            opacity: 1;
            

            & path{
              stroke: $gray-900;
            }
          }
      }
    }
}


// @media (max-width: 768px) { 
	
// 	#adressSection{ padding: 70px 10px;}

// 		#adressSection .seeOnMap{color: #c47c5a; margin-bottom: 70px;}
// 		#adressSection .seeOnMap .icon svg {
// 			width: 160px;
// 			height: 51px;
// 		}
// 		#adressSection .seeOnMap .svgpath.pathInitial{stroke-dasharray: 240;}
// 		#adressSection .seeOnMap .svgpath.arrow{opacity: 1;}

// 		#adressSection .adressContainer h2 {height: 55px;}

// 	#contactsSection{ padding: 70px 10px 140px;}
// 	#contactsSection p{text-align: left;}

// }

// @media (max-width: 991px){
// 		#adressSection::before,
// 		#adressSection::after,
// 		#contactsSection::before,
// 		#contactsSection::after {
// 			display: none;
// 		}
// }

// @media only screen and (device-width: 768px) {
//     #adressSection address{font-size: 32px;}
// }