
@import "./assets/styles/_animations";
@import "./assets/styles/_partials/_Banner.scss";

body {
  background-color: $body-bg;
  //margin-top: 90px;
  font-family: $font-family-sans-serif2;
}


// // Paragraphs
// //

h1, .h1 {
  font-family: $font-family-serif;
  font-size: 80px;
  font-size: 50px;
	// line-height: 32px;
  color: $gray-1000;
  
    &.pageTitle {
      font-size: 11.25rem; //180px
      color: #fff;
      line-height: 9rem;
      margin-left: -8%;
      position: absolute;

      & > span {
        padding-left: 215px;
        display: block;
        position: relative;

        &::before{
          content: "";
          width: 180px;
          height: 4px;
          display: block;
          background: #FFF;
          position: absolute;
          left: 0;
          top: 50%;
        }
      }
    }
}


h2, .h2{
    font-family: $font-family-sans-serif;
    font-weight: normal;
    font-size: 2.5rem;
    // font-size: 20px;
    // line-height: 32px;
    color: $gray-1000;

    &.pageTitleh2 {
      text-align: center;
      margin: 75px auto 130px;
      padding: 0;
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 100%;

      & > span {
        position: relative;

        &::before{
          content: "";
          width: 40px;
          height: 4px;
          margin-right: 5px;
          display: inline-flex;
          background: $gray-1000;
          vertical-align: middle;
        }
      }
    }
}

h3, .h3{
	font-family: $font-family-sans-serif2;
	font-weight: 400;
	// font-size: 20px;
	// line-height: 32px;
	//color: #B7B7B7;
}

label,
p {
	font-family: $font-family-sans-serif2;
	font-weight: 400;
	//font-size: 1.125rem;
	// line-height: 30px;
	//color: #333;
	
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


// Links

a {
  text-decoration:  $link-decoration;
  font-family:      $font-family-sans-serif2;
  font-weight:      300;
  color:            $link-color;
  // -webkit-transition: all 0.2s ease;
  // -moz-transition: all 0.2s ease;
  // -o-transition: all 0.2s ease;
  // transition: all 0.2s ease;

  // font-size: 20px;
  //letter-spacing: 2px;
  outline: none;

  &:hover,
  &:active,
  &:focus {
      text-decoration:  $link-hover-decoration;
      color:            $link-hover-color;
      outline: none;
  }
}

button{
  font-family:      $font-family-sans-serif;
  font-weight:      200;
  text-transform:   uppercase;
  outline:          none!important;
  letter-spacing:   2px;
  font-size:        1.1rem;
}



.radioButtonStyle{
  font-family:      $font-family-sans-serif;
  font-weight:      200;
  font-size: 18px;
   display: table;
   position: relative;
   cursor: pointer;
   margin-bottom: 15px;
   padding-left: 40px;
    -webkit-transition:     padding 0.5s ease;
    -moz-transition:        padding 0.5s ease;
    -o-transition:          padding 0.5s ease;
    transition:             padding 0.5s ease;

   &:before {
      position: absolute;
      display:block;
      left: 40px;
      top: 11px;
      content:'';
      height: 1px;
      width: 0;
      background: #333;
      -webkit-transition:     width 0.5s ease;
      -moz-transition:        width 0.5s ease;
      -o-transition:          width 0.5s ease;
      transition:             width 0.5s ease;
   }

   input{
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
   }

   .radioButton {
      position: absolute;
      top: 3px;
      left: 0;
      background-color: #B7B7B7;
      width:  22px;
      height: 22px;
      display: inline-flex;
      transform-origin: 50% 50%;
      -webkit-transition:     all 0.4s ease;
      -moz-transition:        all 0.4s ease;
      -o-transition:          all 0.4s ease;
      transition:             all 0.4s ease;
   }

   &:hover,
   input:checked {
      padding-left: 60px;

      &:before{
        width: 12px;
      }

      .radioButton,
      & + .radioButton {
        background-color: #C47C5A;
        -webkit-transform: rotate(225deg);
        -ms-transform: rotate(225deg); 
        transform: rotate(225deg); 
      }
   }
}



// Menus

nav a,
footer a{
  text-decoration:  $menu-link-decoration;
  font-family:      $font-family-sans-serif;
  color:            $menu-link-color;
  font-weight:      300;
}

header  {

    nav a {
        &:hover{
          color:     $menu-link-hover-color;
        }
        &.router-link-exact-active{
          color:     $menu-link-active-color;
        }
    }

  

    & .languageLinks{
        border-left: 1px solid $gray-300;
        padding: 0 2%;
        width: 240px;
        align-items: center;
        justify-content: center;
        
        & label {
            margin: 0;
            content: '/';
            height: 100%;
            cursor: pointer;
           
            & input {
                display: none;

                ~ p{
                  font-family: $font-family-sans-serif;
                  color: $secondary-menu-link-color;
                  text-decoration: $secondary-menu-link-decoration;
                  text-transform: uppercase;
                  letter-spacing: 1.5px;
                  font-size: 13px;
                  white-space: nowrap;
                  margin: 0;
                  position:relative;
                  //min-width: 85px;
                  height: 100%;
                  padding: 0 5px;
                  display:flex;
                  align-items: center;
                  justify-content: center;
                  text-align: center;
                  -webkit-transition: all 0.1s ease;
                  -moz-transition: all 0.1s ease;
                  -o-transition: all 0.1s ease;
                  transition: all 0.1s ease;

                      &::after{
                        position: absolute;
                        z-index: -1;
                        top: 50%;
                        left: -100%;
                        content: '';
                        width: 80%;
                        height: 1px;
                        background-color: $gray-900;
                        opacity: 0;
                        -webkit-transition: all 0.1s ease;
                        -moz-transition: all 0.1s ease;
                        -o-transition: all 0.1s ease;
                        transition: all 0.1s ease;
                      }
                }

                &:checked ~ p{
                  font-size: 15px;
                  color: $secondary-menu-link-active-color;
                }

                &:not(:checked):hover {
                    ~ p {
                      font-size: 15px;
                      color: $secondary-menu-link-active-color;
                    }
                }
            }
        }

        &:hover input:checked ~ p{
          color: $secondary-menu-link-color!important;
          font-size: 13px!important;
  
          &::after{
            opacity: .5;
            left: 10%;
          }
      }
  
      &:hover input:checked:hover ~ p{
          font-size: 15px!important;
          color: $secondary-menu-link-active-color!important;
  
          &::after{
            opacity: 0;
            left: -100%;
          }
      }
    }

    
}


// ===================================================================== //
// ===================================================================== //
// INPUTS, TEXTAREA

.input_group {
  position: relative;
  margin: 0 0 30px 0;
  border-bottom: 1px solid #333;
  float: left;
  width: 100%;

  input[type=text],
  input[type=email], 
  input[type=password],
  input[type=tel], 
  input[type=search],
  input[type=file],
  textarea {
      font-family: $font-family-sans-serif2;
      font-weight: 200;
      -webkit-appearance: none;
      -moz-appearance: none;
      border-radius: 0;
      border: none;
      background: none;
      display: block;
      padding: 10px 0;
      width: 100%;
      font-size: 1em;
      
      &:focus { outline: none; }
  }

  label{
    font-family: $font-family-sans-serif2;
    position: absolute;
    pointer-events: none;
    left: 0;
    top: 10px;
    -moz-transition:    all 0.3s ease 0.1s;
    -o-transition:      all 0.3s ease 0.1s;
    -webkit-transition: all 0.3s ease 0.1s;
    transition:         all 0.3s ease 0.1s;
  }

  .bar {
      position: relative;
      display: block;
      width: 100%;

      &:before, 
      &:after{
        content: '';
        height: 2px;
        width: 0;
        bottom: 0;
        position: absolute;
        background: #333;

        -moz-transition:    all 0.3s ease;
        -o-transition:      all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        transition:         all 0.3s ease;
      }
  
      &:before{
        left: 50%;
      }
      &:after{
        right: 50%;
      }
  }

  input:focus,
  textarea:focus,
  input:active,
  textarea:active,
  input:not(:placeholder-shown),
  textarea:not(:placeholder-shown) {
    
    ~ label{
      top: -14px;
      font-size: 13px;
      font-weight: 600;
    }

    ~ .bar:before,
    ~ .bar:after{
      background: #fff;
      width: 50%;
    }
  }
}

// input file
input[type=file]{
  outline: none!important;
  font-size: 0!important;
  width: 60px;
  height: 60px;
  position: relative;
  
  &::-webkit-file-upload-button {
    visibility: hidden;
  }

  &::before{
    position: absolute;
    top: 8px; left: 8px;
    content: '';
    display: block;
    background: #b7b7b7;
    width: 40px;
    height: 40px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); 
    
    transform-origin: 50% 50%;
    
    -webkit-transition:   all 0.3s cubic-bezier(0, .5, 0, 1);
    -moz-transition:      all 0.3s cubic-bezier(0, .5, 0, 1);
    -o-transition:        all 0.3s cubic-bezier(0, .5, 0, 1);
    transition:           all 0.3s cubic-bezier(0, .5, 0, 1);
  }

  &::after {
    position: absolute;
    top: 0; left: 0;
    content: '';
    display: block;
    background: url(assets/images/icons/input-file.svg) center center no-repeat;
    width: 58px;
    height: 55px;
    outline: none;
    -webkit-user-select: none;
    cursor: pointer;
  }

  &:hover::before{
    -webkit-transform:  rotate(230deg);
    -ms-transform:      rotate(230deg);
    transform:          rotate(230deg); 
    background: #C47C5A;
  }
}



.revertColor .input_group {
  padding: 0;
  color: $white;

  input{
    border: none;
    outline: 0;
    border-bottom: 1px solid $white;
    color: #FFF;
  }
}










// ===================================================================== //
// ===================================================================== //
// PRELOADER

.loader{
  background: #DEDEDE;
  position: fixed;
  z-index: 99999;
  top: 0; bottom: 0; left: 0; right: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  -webkit-transition:   all 0.3s cubic-bezier(0, .5, 0, 1);
  -moz-transition:      all 0.3s cubic-bezier(0, .5, 0, 1);
  -o-transition:        all 0.3s cubic-bezier(0, .5, 0, 1);
  transition:           all 0.3s cubic-bezier(0, .5, 0, 1);


  #animatedlogo{
    position: fixed;
    top: calc(50% - 50px);
    left: 50%;
    margin-left: -255px; 
  
    z-index: 2;
    fill: #ffffff;
  
    overflow: visible;
    width: 510px;
  
    -webkit-animation:  changeLogos 1s ease-in-out 3s forwards;
    -moz-animation:     changeLogos 1s ease-in-out 3s forwards;
    -o-animation:       changeLogos 1s ease-in-out 3s forwards ;
    animation:          changeLogos 1s ease-in-out 3s forwards;

    & #B{
        transform: translateX(18%);
        opacity: 1;
        -webkit-animation:  myanimation1 2s 1s ease-in-out forwards;
        -moz-animation:     myanimation1 2s 1s ease-in-out forwards;
        -o-animation:       myanimation1 2s 1s ease-in-out forwards;
        animation:          myanimation1 2s 1s ease-in-out forwards;
    }

    & #Stone{
        transform: translateX(50%);
        opacity: 0;
        -webkit-animation:  myanimation2 2s 1s ease-in-out forwards;
        -moz-animation:     myanimation2 2s 1s ease-in-out forwards;
        -o-animation:       myanimation2 2s 1s ease-in-out forwards;
        animation:          myanimation2 2s 1s ease-in-out forwards;
    }

    & #Rreferencias{
        transform: translateX(-50%);
        opacity: 0;
        -webkit-animation:  myanimation3 2s 1s ease-in-out forwards;
        -moz-animation:     myanimation3 2s 1s ease-in-out forwards;
        -o-animation:       myanimation3 2s 1s ease-in-out forwards;
        animation:          myanimation3 2s 1s ease-in-out forwards;
    }
  }

  &.isLoaded { 
      -webkit-animation:    fade-out-display-none .6s cubic-bezier(0, .5, 0, 1) .5s forwards;
      -moz-animation:       fade-out-display-none .6s cubic-bezier(0, .5, 0, 1) .5s forwards;
      -o-animation:         fade-out-display-none .6s cubic-bezier(0, .5, 0, 1) .5s forwards;
      animation:            fade-out-display-none .6s cubic-bezier(0, .5, 0, 1) .5s forwards;

      & h1{
        -webkit-animation:  fade-out-display-none .5s cubic-bezier(0, .5, 0, 1) .3s forwards;
        -moz-animation:     fade-out-display-none .5s cubic-bezier(0, .5, 0, 1) .3s forwards;
        -o-animation:       fade-out-display-none .5s cubic-bezier(0, .5, 0, 1) .3s forwards;
        animation:          fade-out-display-none .5s cubic-bezier(0, .5, 0, 1) .3s forwards;
      }
  }
}

// ===================================================================== //
// ===================================================================== //
// HEADER

header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  width: 100%;
  background: $white;
  white-space: nowrap;

  .containerHeader {
    height: 68px;
    display: flex;
    flex-direction: row;
  }

  .logo{
    align-items: center;
    justify-content: center;
  }

  nav.menu {
      display: none;
      //bottom: 0;
      //align-items: center;
      justify-content: center;
      padding: 200px 0;
      //height:0;
      overflow:hidden;
      
      &.active{display:block;}

      & ul {
        display: flex;
        flex-direction: column;
        
        align-items: center;
        justify-content: center;
        margin: 0;
        padding-left: 0;
        list-style: none;

            & li {
              //margin-right: 18px;
              position: relative;

              &:not(:last-child):after {
                display: none;
                content: "";
                background-color: $gray-600; //a7a7a7
                width: 18px;
                height: 1px;
                position: absolute;
                top: 50%;
                right: -15px;
              }

              a {
                font-size: 1.5rem; //22px
                padding: 10px 17px;
                font-weight: 300;
              }
          }
    }
}

nav.menuMobile{
  background-color: $white;
  position: fixed;
  z-index: 2;

  top: -100vh;
  height: 100vh;
  left: 0; right: 0;
  overflow: hidden;

  transition-duration: 5s;
  transition-timing-function: ease-in;

 
    & .mobileAdd{
      background-color: $gray-900;
      height: 240px;
      position: fixed;
      text-align: center;
      z-index: 2;

      bottom: -240px;
      left: 0; right: 0;
      overflow: hidden;

      transition-duration: 5s;
      transition-timing-function: ease-in;
    
      .social-icons{
        justify-content: center;
      }
    }

    .slide-enter-to, .slide-leave  {
        max-height: 100%;
        overflow: hidden;

        
    }
    
    .slide-enter, .slide-leave-to{
        overflow: hidden;
        max-height: 0;
    }

    .fade-enter-active, .fade-leave-active {
      transition: opacity .5s;
    }
    .fade-enter, .fade-leave-to {
      opacity: 0;
    }

    &.active{
      top: 0;

      & .mobileAdd{ 
        bottom: 0!important;
      }

    }
}



  .controls .buttons{
      border: none;
      border-left: 1px solid #E8E8E8;
      width: 90px; 
      outline: none!important;
  }

  .closeMenuButton{
    display: block;
    position: absolute;
    z-index: 3;
    width: 50px;
    height: 50px;
    top: 50px;
    left: calc(50% - 25px);
    right: 0;
    border: 0;
    background-size: 30px;
    background: center center no-repeat url(assets/images/icons/close.svg);
  }

  .openMenuButton{
    display:    block;
    position:   fixed;
    width:      90px;
    height:     90px;
    top:        20%;
    right:      40px;
    border:     0;
    background-size:  30px;
    background:       center center no-repeat url(assets/images/icons/menu.svg);
  }
}



// @include media-breakpoint-up(xs) {
//   header nav.menu{
//     height: 0;
//     overflow:hidden;
//   }
// }

@include media-breakpoint-up(md) {
  body{ margin-top: 90px;}
  
  header {
    .containerHeader {
        height: 90px;
    }

    nav.menu {
      position: relative;
      display:flex!important;
      background: none;
      padding: 0!important;


      ul{
          flex-direction: row;

          li:not(:last-child):after{
            display:block;
          }

          & li{
            margin-right: 18px; 
        
            a{
              font-size: 1.2rem!important;
              padding: 10px 3px;
            }
          }
        }
    }

    .closeMenuButton,
    nav.menuMobile {display:none;}

  }

  header .openMenuButton{display:none}

}


@include media-breakpoint-up(lg) {

  header nav.menu ul li a{
    font-size: 1.2rem!important;
    padding: 10px 10px;
  }

  header nav.menu .mobileAdd{
    display: none;
  }
}

@include media-breakpoint-up(xl) {
    body{ margin-top: 124px;}

    header .controls .buttons{
      width: 124px;
    }
    header .containerHeader {
      height: 124px;
    }
}

// ===================================================================== //
// ===================================================================== //


//FOOTER

footer{
  background: #2A2A2A;
  position: relative;
  color: $white;
  z-index:2;

      & .row{
        border-bottom: 1px solid #363636
      }

      .col-8 {
          border-right: 1px solid #363636
      }

      h1, h2{
        color: $white;
      }

      .newsletterForm {
          padding: 12% 27px;

          h2 { font-size: 0.9375rem; }
          h1 { font-size: 2rem; margin-bottom: 30px;}

          input[type=submit]{
            width: 40px;
            height: 40px;
            position: relative;
            
            border: none;
            outline: none;
            font-size: 0;
            
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;

            -webkit-transition: background 0.4s cubic-bezier(0, .5, 0, 1);
            -moz-transition: background 0.4s cubic-bezier(0, .5, 0, 1);
            -o-transition: background 0.4s cubic-bezier(0, .5, 0, 1);
            transition: background 0.4s cubic-bezier(0, .5, 0, 1);

            background-color: $black;
            background-image: url(assets/images/icons/newsletter_enviar.svg);

            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg); 
            transform-origin: 50% 50%;

            &::after {
              position: absolute;
              top: 0; left: 0;
              content: '';
              display: block;
              
              width: 40px;
              height: 40px;
              outline: none;
            }

            &:hover{
              background-color: #C47C5A;
            }
        }
      }

      a {
        color: $white;
        letter-spacing: 1px;
        font-weight: 200!important;

        &.small{
          text-transform: uppercase;
          font-size: 14px;
          color: $gray-600; //a7a7a7
        }

        &:hover{
        text-decoration:  none;
        color:            $link-hover-color;
        }
      }

      .logoFooter{
        display: block;
        margin: 2% 0;
        height: 50px;
        background: url(assets/images/logo/logo_footer.svg) no-repeat 20px;
      }

    .social-icons{
        padding-left: 20px;
        
        a {
          margin-left: 10px;
        }
    }

    .cofinancedby{
    padding: 18px 0;

    div {
        float: left;
        padding: 2% 0;
      }

      a {
        //width: 100%;
        height: 65px;
        display: block;
        text-decoration: none;
        background: url(assets/images/footer/cofinanced1.svg) no-repeat center 0;
        background-size: contain;
        
        opacity: .7;

        &.cofinance2{
           background: url(assets/images/footer/cofinanced2.svg) no-repeat center 0;
           background-size: contain;
        }

        &:hover{
            opacity: 1;
        }
      }
    }

    .copyrights {

        p {
          text-align: right;
          font-family: "Oswald", sans-serif;
          font-size: 15px;
          font-weight: 300;
          text-transform: 1px;
          color: $gray-600; //a7a7a7
          padding: 7% 0;
          margin: 0;
        }

        a{
          text-align: right;

          &:hover{
              color:  $link-hover-color;
          }
        }
    }
}

@include media-breakpoint-down(md) {
    .cofinancedby{
      a {
        width: 295px;
        margin: 0 auto;
      }
  }
}



@include media-breakpoint-up(md) {


  footer{
    padding-top: 40px;
    padding-bottom: 40px;
  
      .logoFooter,
      .social-icons{
        margin: 30px 0;
      }

      .social-icons a{ 
        width: 60px;
        height: 60px;
        margin-top: 20px;
        background-size: 30px!important;
      }
  }

}




// SHARED 

// Social Icons: Header (component Header_menu.vue) and Footer.vue
.social-icons{

  a {
      display: inline-block;
      width: 50px;
      height: 50px;
      //margin-left: 10px;

      -webkit-transition: all 0.4s cubic-bezier(0, .5, 0, 1);
      -moz-transition: all 0.4s cubic-bezier(0, .5, 0, 1);
      -o-transition: all 0.4s cubic-bezier(0, .5, 0, 1);
      transition: all 0.4s cubic-bezier(0, .5, 0, 1);

      background-position: center center;
      line-height: 0;
      background-color: #666;

        &.fb{
            -webkit-mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16.926" height="16.926" viewBox="0 0 16.926 16.926"><path d="M14.647,0H2.283A2.281,2.281,0,0,0,0,2.281V14.645a2.281,2.281,0,0,0,2.281,2.281h6.1l.01-6.048H6.82a.371.371,0,0,1-.371-.369l-.008-1.95a.371.371,0,0,1,.371-.372H8.381V6.3a3.078,3.078,0,0,1,3.285-3.377h1.6a.371.371,0,0,1,.371.371V4.941a.371.371,0,0,1-.371.371h-.982c-1.061,0-1.266.5-1.266,1.244V8.186h2.331a.371.371,0,0,1,.368.414l-.231,1.95a.371.371,0,0,1-.368.327H11.029l-.01,6.048h3.628a2.281,2.281,0,0,0,2.281-2.281V2.281A2.281,2.281,0,0,0,14.647,0Z" transform="translate(-0.002)"/></svg>') no-repeat center center;
            mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16.926" height="16.926" viewBox="0 0 16.926 16.926"><path d="M14.647,0H2.283A2.281,2.281,0,0,0,0,2.281V14.645a2.281,2.281,0,0,0,2.281,2.281h6.1l.01-6.048H6.82a.371.371,0,0,1-.371-.369l-.008-1.95a.371.371,0,0,1,.371-.372H8.381V6.3a3.078,3.078,0,0,1,3.285-3.377h1.6a.371.371,0,0,1,.371.371V4.941a.371.371,0,0,1-.371.371h-.982c-1.061,0-1.266.5-1.266,1.244V8.186h2.331a.371.371,0,0,1,.368.414l-.231,1.95a.371.371,0,0,1-.368.327H11.029l-.01,6.048h3.628a2.281,2.281,0,0,0,2.281-2.281V2.281A2.281,2.281,0,0,0,14.647,0Z" transform="translate(-0.002)"/></svg>') no-repeat center center;
        }

        &.in{
            -webkit-mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="18.769" height="18.769" viewBox="0 0 18.769 18.769"><path d="M13.178,0H5.591A5.6,5.6,0,0,0,0,5.591v7.586a5.6,5.6,0,0,0,5.591,5.591h7.586a5.6,5.6,0,0,0,5.591-5.591V5.591A5.6,5.6,0,0,0,13.178,0Zm3.7,13.178a3.7,3.7,0,0,1-3.7,3.7H5.591a3.7,3.7,0,0,1-3.7-3.7V5.591a3.7,3.7,0,0,1,3.7-3.7h7.586a3.7,3.7,0,0,1,3.7,3.7v7.586Z" /><path d="M137.854,133a4.854,4.854,0,1,0,4.854,4.854A4.86,4.86,0,0,0,137.854,133Zm0,7.821a2.966,2.966,0,1,1,2.966-2.966A2.966,2.966,0,0,1,137.854,140.821Z" transform="translate(-128.47 -128.47)"/><ellipse cx="1.163" cy="1.163" rx="1.163" ry="1.163" transform="translate(13.085 3.403)"/></svg>') no-repeat center center;
            mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="18.769" height="18.769" viewBox="0 0 18.769 18.769"><path d="M13.178,0H5.591A5.6,5.6,0,0,0,0,5.591v7.586a5.6,5.6,0,0,0,5.591,5.591h7.586a5.6,5.6,0,0,0,5.591-5.591V5.591A5.6,5.6,0,0,0,13.178,0Zm3.7,13.178a3.7,3.7,0,0,1-3.7,3.7H5.591a3.7,3.7,0,0,1-3.7-3.7V5.591a3.7,3.7,0,0,1,3.7-3.7h7.586a3.7,3.7,0,0,1,3.7,3.7v7.586Z" /><path d="M137.854,133a4.854,4.854,0,1,0,4.854,4.854A4.86,4.86,0,0,0,137.854,133Zm0,7.821a2.966,2.966,0,1,1,2.966-2.966A2.966,2.966,0,0,1,137.854,140.821Z" transform="translate(-128.47 -128.47)"/><ellipse cx="1.163" cy="1.163" rx="1.163" ry="1.163" transform="translate(13.085 3.403)"/></svg>') no-repeat center center;
        }
          
        &.pi{
            -webkit-mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="18.847" height="18.878" viewBox="0 0 18.847 18.878"><path d="M9.431,0A9.434,9.434,0,0,0,5.992,18.218a9.08,9.08,0,0,1,.031-2.709c.171-.737,1.1-4.688,1.1-4.688a3.435,3.435,0,0,1-.279-1.4c0-1.312.761-2.29,1.708-2.29a1.185,1.185,0,0,1,1.2,1.327A18.647,18.647,0,0,1,8.965,11.6a1.372,1.372,0,0,0,1.4,1.708c1.677,0,2.965-1.77,2.965-4.316A3.722,3.722,0,0,0,9.385,5.162,4.082,4.082,0,0,0,5.123,9.253a3.681,3.681,0,0,0,.7,2.15.281.281,0,0,1,.062.272c-.07.295-.233.939-.264,1.071-.039.171-.14.21-.318.124A4.225,4.225,0,0,1,3.384,9.214c0-2.973,2.158-5.705,6.233-5.705a5.535,5.535,0,0,1,5.814,5.449c0,3.252-2.049,5.868-4.89,5.868a2.506,2.506,0,0,1-2.158-1.087l-.59,2.243a10.275,10.275,0,0,1-1.172,2.476A9.44,9.44,0,1,0,9.431,0Z"/></svg>') no-repeat center center;
            mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="18.847" height="18.878" viewBox="0 0 18.847 18.878"><path d="M9.431,0A9.434,9.434,0,0,0,5.992,18.218a9.08,9.08,0,0,1,.031-2.709c.171-.737,1.1-4.688,1.1-4.688a3.435,3.435,0,0,1-.279-1.4c0-1.312.761-2.29,1.708-2.29a1.185,1.185,0,0,1,1.2,1.327A18.647,18.647,0,0,1,8.965,11.6a1.372,1.372,0,0,0,1.4,1.708c1.677,0,2.965-1.77,2.965-4.316A3.722,3.722,0,0,0,9.385,5.162,4.082,4.082,0,0,0,5.123,9.253a3.681,3.681,0,0,0,.7,2.15.281.281,0,0,1,.062.272c-.07.295-.233.939-.264,1.071-.039.171-.14.21-.318.124A4.225,4.225,0,0,1,3.384,9.214c0-2.973,2.158-5.705,6.233-5.705a5.535,5.535,0,0,1,5.814,5.449c0,3.252-2.049,5.868-4.89,5.868a2.506,2.506,0,0,1-2.158-1.087l-.59,2.243a10.275,10.275,0,0,1-1.172,2.476A9.44,9.44,0,1,0,9.431,0Z"/></svg>') no-repeat center center;
        }
          
        &.yt{
          -webkit-mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="22.023" height="15.583" viewBox="0 0 22.023 15.583"><path d="M17.449,67.393H4.574A4.574,4.574,0,0,0,0,71.967V78.4a4.574,4.574,0,0,0,4.574,4.574H17.449A4.574,4.574,0,0,0,22.023,78.4V71.967A4.574,4.574,0,0,0,17.449,67.393ZM14.356,75.5,8.333,78.37a.242.242,0,0,1-.346-.218V72.228a.242.242,0,0,1,.351-.216l6.022,3.052A.242.242,0,0,1,14.356,75.5Z" transform="translate(0 -67.393)"/></svg>') no-repeat center center;
          mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="22.023" height="15.583" viewBox="0 0 22.023 15.583"><path d="M17.449,67.393H4.574A4.574,4.574,0,0,0,0,71.967V78.4a4.574,4.574,0,0,0,4.574,4.574H17.449A4.574,4.574,0,0,0,22.023,78.4V71.967A4.574,4.574,0,0,0,17.449,67.393ZM14.356,75.5,8.333,78.37a.242.242,0,0,1-.346-.218V72.228a.242.242,0,0,1,.351-.216l6.022,3.052A.242.242,0,0,1,14.356,75.5Z" transform="translate(0 -67.393)"/></svg>') no-repeat center center;
        }
        
        &.lk{
          -webkit-mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16.728" height="16.926" viewBox="0 0 16.728 16.926"><path d="M648.266,217H634.911a1.689,1.689,0,0,0-1.686,1.692v13.542a1.689,1.689,0,0,0,1.686,1.692h13.355a1.689,1.689,0,0,0,1.686-1.692V218.7A1.689,1.689,0,0,0,648.266,217ZM638.592,230.4h-2.25v-7.24h2.25Zm-1.14-8.129a1.128,1.128,0,1,1,1.214-1.125A1.122,1.122,0,0,1,637.452,222.268Zm9.357,8.129h-2.25v-4.012c0-.933-.326-1.569-1.14-1.569a1.236,1.236,0,0,0-1.155.844,1.618,1.618,0,0,0-.074.563V230.4h-2.25v-4.93c0-.9-.029-1.658-.059-2.31h1.954l.1,1.007h.044a2.6,2.6,0,0,1,2.236-1.17c1.48,0,2.591.992,2.591,3.124Z" transform="translate(-633.225 -217.004)"/></svg>') no-repeat center center;
          mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16.728" height="16.926" viewBox="0 0 16.728 16.926"><path d="M648.266,217H634.911a1.689,1.689,0,0,0-1.686,1.692v13.542a1.689,1.689,0,0,0,1.686,1.692h13.355a1.689,1.689,0,0,0,1.686-1.692V218.7A1.689,1.689,0,0,0,648.266,217ZM638.592,230.4h-2.25v-7.24h2.25Zm-1.14-8.129a1.128,1.128,0,1,1,1.214-1.125A1.122,1.122,0,0,1,637.452,222.268Zm9.357,8.129h-2.25v-4.012c0-.933-.326-1.569-1.14-1.569a1.236,1.236,0,0,0-1.155.844,1.618,1.618,0,0,0-.074.563V230.4h-2.25v-4.93c0-.9-.029-1.658-.059-2.31h1.954l.1,1.007h.044a2.6,2.6,0,0,1,2.236-1.17c1.48,0,2.591.992,2.591,3.124Z" transform="translate(-633.225 -217.004)"/></svg>') no-repeat center center;
        }

        &:hover {
          background-color: #fff;
        }
  }
}





// @include media-breakpoint-up(sm) {
//   html {
//       font-size: .7rem;
//   }
// }

// @include media-breakpoint-up(md) {
//   html {
//       font-size: .9rem;
//   }
// }

@include media-breakpoint-up(lg) {
  html {
      font-size: 1rem;
  }
}

@include media-breakpoint-up(xl) {
  html {
      font-size: 1rem;
  }

  .container{ 
    // @include _assert-ascending($container-max-widths, "$container-max-widths");
    max-width: 1500px;
  }
}


// Address and Contacts
@import "./assets/styles/_partials/_Address";
