
@import "./assets/styles/_animations";

body {
  background-color: $body-bg;
  //margin-top: 90px;
  font-family: $font-family-sans-serif2;
}


// // Paragraphs
// //

h1, .h1 {
  font-family: $font-family-serif;
  font-size: 80px;
  font-size: 50px;
	// line-height: 32px;
  color: $gray-1000;
  
    &.pageTitle {
      font-size: 11.25rem; //180px
      color: #fff;
      line-height: 9rem;
      margin-left: -8%;
      position: absolute;

      & > span {
        padding-left: 215px;
        display: block;
        position: relative;

        &::before{
          content: "";
          width: 180px;
          height: 4px;
          display: block;
          background: #FFF;
          position: absolute;
          left: 0;
          top: 50%;
        }
      }
    }
}


h2, .h2{
    font-family: $font-family-sans-serif;
    font-weight: normal;
    font-size: 2.5rem;
    // font-size: 20px;
    // line-height: 32px;
    color: $gray-1000;

    &.pageTitleh2 {
      text-align: center;
      margin: 75px auto 130px;
      padding: 0;
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 100%;

      & > span {
        position: relative;

        &::before{
          content: "";
          width: 40px;
          height: 4px;
          margin-right: 5px;
          display: inline-flex;
          background: $gray-1000;
          vertical-align: middle;
        }
      }
    }
}

h3, .h3{
	font-family: $font-family-sans-serif2;
	font-weight: 400;
	// font-size: 20px;
	// line-height: 32px;
	//color: #B7B7B7;
}

label,
p {
	font-family: $font-family-sans-serif2;
	font-weight: 400;
	//font-size: 1.125rem;
	// line-height: 30px;
	//color: #333;
	
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


// Links

a {
  text-decoration:  $link-decoration;
  font-family:      $font-family-sans-serif2;
  font-weight:      300;
  color:            $link-color;
  -webkit-transition:     color 0.2s ease;
  -moz-transition:        color 0.2s ease;
  -o-transition:          color 0.2s ease;
  transition:             color 0.2s ease;
  outline: none;

  &:hover,
  &:active,
  &:focus {
      text-decoration:  $link-hover-decoration;
      color:            $link-hover-color;
      outline: none;
  }
}

button{
  font-family:      $font-family-sans-serif;
  font-weight:      200;
  text-transform:   uppercase;
  outline:          none!important;
  letter-spacing:   2px;
  font-size:        1.1rem;
}


.radioButtonStyle{
  font-family:      $font-family-sans-serif;
  font-weight:      200;
  font-size: 18px;
   display: table;
   position: relative;
   cursor: pointer;
   margin-bottom: 15px;
   padding-left: 40px;
    -webkit-transition:     padding 0.5s ease;
    -moz-transition:        padding 0.5s ease;
    -o-transition:          padding 0.5s ease;
    transition:             padding 0.5s ease;

   &:before {
      position: absolute;
      display:block;
      left: 40px;
      top: 11px;
      content:'';
      height: 1px;
      width: 0;
      background: #333;
      -webkit-transition:     width 0.5s ease;
      -moz-transition:        width 0.5s ease;
      -o-transition:          width 0.5s ease;
      transition:             width 0.5s ease;
   }

   input{
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
   }

   .radioButton {
      position: absolute;
      top: 3px;
      left: 0;
      background-color: #B7B7B7;
      width:  22px;
      height: 22px;
      display: inline-flex;
      transform-origin: 50% 50%;
      -webkit-transition:     background-color 0.4s ease, transform 0.4s ease;
      -moz-transition:        background-color 0.4s ease, transform 0.4s ease;
      -o-transition:          background-color 0.4s ease, transform 0.4s ease;
      transition:             background-color 0.4s ease, transform 0.4s ease;
   }

   &:hover,
   input:checked {
      padding-left: 60px;

      &:before{
        width: 12px;
      }

      .radioButton,
      & + .radioButton {
        background-color: #C47C5A;
        -webkit-transform:  rotate(225deg);
        -ms-transform:      rotate(225deg); 
        transform:          rotate(225deg); 
      }
   }
}


.revertColor {
  h1,
  h2,
  p.h1,
  p,
  a,
  button,
  input{
      color: #FFF;
  }
}



// Menus

nav a,
footer a{
  text-decoration:  $menu-link-decoration;
  font-family:      $font-family-sans-serif;
  color:            $menu-link-color;
  font-weight:      300;
}

header  {

    nav a {
        &:hover{
          color:     $menu-link-hover-color;
        }
        &.router-link-exact-active{
          color:     $menu-link-active-color;
        }
    }

  

    & .languageLinks{
        border-left: 1px solid $gray-300;
        padding: 0 2%;
        width: 240px;
        align-items: center;
        justify-content: center;
        
        & label {
            margin: 0;
            content: '/';
            height: 100%;
            cursor: pointer;
           
            & input {
                display: none;

                ~ p{
                  font-family: $font-family-sans-serif;
                  color: $secondary-menu-link-color;
                  text-decoration: $secondary-menu-link-decoration;
                  text-transform: uppercase;
                  letter-spacing: 1.5px;
                  font-size: 13px;
                  white-space: nowrap;
                  margin: 0;
                  position:relative;
                  height: 100%;
                  padding: 0 5px;
                  display:flex;
                  align-items: center;
                  justify-content: center;
                  text-align: center;
                  -webkit-transition: all 0.1s ease;
                  -moz-transition: all 0.1s ease;
                  -o-transition: all 0.1s ease;
                  transition: all 0.1s ease;

                      &::after{
                        position: absolute;
                        z-index: -1;
                        top: 50%;
                        left: -100%;
                        content: '';
                        width: 80%;
                        height: 1px;
                        background-color: $gray-900;
                        opacity: 0;
                        -webkit-transition: all 0.1s ease;
                        -moz-transition: all 0.1s ease;
                        -o-transition: all 0.1s ease;
                        transition: all 0.1s ease;
                      }
                }

                &:checked ~ p{
                  font-size: 15px;
                  color: $secondary-menu-link-active-color;
                }

                &:not(:checked):hover {
                    ~ p {
                      font-size: 15px;
                      color: $secondary-menu-link-active-color;
                    }
                }
            }
        }

        &:hover input:checked ~ p{
          color: $secondary-menu-link-color!important;
          font-size: 13px!important;
  
          &::after{
            opacity: .5;
            left: 10%;
          }
      }
  
      &:hover input:checked:hover ~ p{
          font-size: 15px!important;
          color: $secondary-menu-link-active-color!important;
  
          &::after{
            opacity: 0;
            left: -100%;
          }
      }
    }    
}


// ===================================================================== //
// ===================================================================== //
// INPUTS, TEXTAREA

.input_group {
  position: relative;
  margin: 10px 0 30px 0;
  float: left;
  width: 100%;

    input[type=text],
    input[type=email], 
    input[type=number],
    input[type=password],
    input[type=tel], 
    input[type=search],
    textarea,
    select {
        font-family: $font-family-sans-serif2;
        font-weight: 200;
        -webkit-appearance: none;
        -moz-appearance: none;
        border-radius: 0;
        border: 0;
        background: none;
        display: block;
        padding: 10px 0;
        width: 100%;
        font-size: 1em;
        border-bottom: 1px solid #333;
        
        //&:invalid { border-color: #FA0B4C;}
        &:focus { border-color: #333; outline: none; }
       
    }

    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
         //background-image: url(...);   /* add custom arrow */

        &::-ms-expand {display: none;}


        // .styled select {
        //   background: transparent;
        //   width: 150px;
        //   font-size: 16px;
        //   border: 1px solid #ccc;
        //   height: 34px;
        // }
        // .styled {
        //   margin: 50px;
        //   width: 120px;
        //   height: 34px;
        //   border: 1px solid #111;
        //   border-radius: 3px;
        //   overflow: hidden;
        //   background: url(http://www.stackoverflow.com/favicon.ico) 96% / 20% no-repeat #eee;
        // }
    }

    label{
      font-family: $font-family-sans-serif2;
      position: absolute;
      pointer-events: none;
      left: 0;
      top: 10px;

      -moz-transition:    top 0.3s ease 0.1s, font-size 0.3s ease 0.05s, font-weight 0.3s ease;
      -o-transition:      top 0.3s ease 0.1s, font-size 0.3s ease 0.05s, font-weight 0.3s ease;
      -webkit-transition: top 0.3s ease 0.1s, font-size 0.3s ease 0.05s, font-weight 0.3s ease;
      transition:         top 0.3s ease 0.1s, font-size 0.3s ease 0.05s, font-weight 0.3s ease;
    }

    input:focus,
    textarea:focus,
    select:focus,
    input:active,
    textarea:active,
    select:active,
    select.selected,
    input:not(:placeholder-shown),
    textarea:not(:placeholder-shown) {
  
      ~ label{
        top: -14px;
        font-size: 13px;
        font-weight: 600;
      }
    }

    input:disabled,
    textarea:disabled,
    select:disabled{
        border-color: #999999;

        ~ label{ color: #999999 }
    }

    .errormessage{
      color: #FA0B4C;
      font-weight: 200;
      font-size: 14px;
      position: absolute;
      left: 0;
      bottom: -40px;
      opacity: 0;
    }

    &.error{

      input[type=text],
      input[type=email], 
      input[type=number],
      input[type=password],
      input[type=tel], 
      input[type=search],
      textarea,
      select{
        border-bottom: 1px solid #FA0B4C!important;
      }

      .errormessage {
        opacity: 1;
      }
    }
}

.input_file_group{
  position: relative;
  margin: 0;
  width: 100%;
  height: 60px;

  input[type=file]{
      font-family: $font-family-sans-serif2;
      font-weight: 200;
      font-size: .9em;
      -webkit-appearance: none;
      -moz-appearance: none;
      outline: none!important;
      border-radius: 0;
      border: none;
      background: none;
      display: block;
      padding: 15px 0;
      width: 100%;
      height: 60px;
      position: relative;
      content: '';
    
    &::-webkit-file-upload-button {
        visibility: hidden;
        width: 65px;
    }
  
    &::before{
      position: absolute;
      top: 8px; left: 8px;
      content: '';
      display: block;
      background: #b7b7b7;
      width: 40px;
      height: 40px;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg); 
      
      transform-origin: 50% 50%;
      
      -webkit-transition:   transform 0.3s cubic-bezier(0, .5, 0, 1), background-color 0.3s cubic-bezier(0, .5, 0, 1);
      -moz-transition:      transform 0.3s cubic-bezier(0, .5, 0, 1), background-color 0.3s cubic-bezier(0, .5, 0, 1);
      -o-transition:        transform 0.3s cubic-bezier(0, .5, 0, 1), background-color 0.3s cubic-bezier(0, .5, 0, 1);
      transition:           transform 0.3s cubic-bezier(0, .5, 0, 1), background-color 0.3s cubic-bezier(0, .5, 0, 1);
    }
  
    &::after {
      position: absolute;
      top: 0; left: 0;
      content: '';
      display: block;
      background: url(assets/images/icons/input-file.svg) center center no-repeat;
      width: 58px;
      height: 55px;
      outline: none;
      -webkit-user-select: none;
      cursor: pointer;
    }
  
    &:hover::before{
      -webkit-transform:  rotate(225deg);
      -ms-transform:      rotate(225deg);
      transform:          rotate(225deg); 
      background-color: #C47C5A;
    }

    &:focus { outline: none; }
  }

  .errormessage{
    color: #FA0B4C;
    font-weight: 200;
    font-size: 14px;
    position: absolute;
    left: 84px;
    bottom: -18px;
    opacity: 0;
    width: 100%;
  }

  &.error{
    &:before{background: #FA0B4C;}
    .errormessage {opacity: 1;}
  }
}

.revertColor .input_group {
  padding: 0;
  color: #FFF;

  input{
    border: none;
    outline: 0;
    color: #FFF;
    border-bottom: 1px solid #FFF!important;
  }
}


// ===================================================================== //
// PRELOADER

.loader{
  background: #DEDEDE;
  position: fixed;
  z-index: 99999;
  top: 0; bottom: 0; left: 0; right: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  -webkit-transition:   all 0.3s cubic-bezier(0, .5, 0, 1);
  -moz-transition:      all 0.3s cubic-bezier(0, .5, 0, 1);
  -o-transition:        all 0.3s cubic-bezier(0, .5, 0, 1);
  transition:           all 0.3s cubic-bezier(0, .5, 0, 1);


  #animatedlogo{
    position: fixed;
    top: calc(50% - 50px);
    left: 50%;
    margin-left: -255px;
    z-index: 2;
    fill: #ffffff;
    overflow: visible;
    width: 510px;
  
    -webkit-animation:  changeLogos 1s ease-in-out 3s forwards;
    -moz-animation:     changeLogos 1s ease-in-out 3s forwards;
    -o-animation:       changeLogos 1s ease-in-out 3s forwards ;
    animation:          changeLogos 1s ease-in-out 3s forwards;

    & #B{
        transform: translateX(18%);
        opacity: 1;
        -webkit-animation:  myanimation1 2s 1s ease-in-out forwards;
        -moz-animation:     myanimation1 2s 1s ease-in-out forwards;
        -o-animation:       myanimation1 2s 1s ease-in-out forwards;
        animation:          myanimation1 2s 1s ease-in-out forwards;
    }

    & #Stone{
        transform: translateX(50%);
        opacity: 0;
        -webkit-animation:  myanimation2 2s 1s ease-in-out forwards;
        -moz-animation:     myanimation2 2s 1s ease-in-out forwards;
        -o-animation:       myanimation2 2s 1s ease-in-out forwards;
        animation:          myanimation2 2s 1s ease-in-out forwards;
    }

    & #Rreferencias{
        transform: translateX(-50%);
        opacity: 0;
        -webkit-animation:  myanimation3 2s 1s ease-in-out forwards;
        -moz-animation:     myanimation3 2s 1s ease-in-out forwards;
        -o-animation:       myanimation3 2s 1s ease-in-out forwards;
        animation:          myanimation3 2s 1s ease-in-out forwards;
    }
  }

  &.isLoaded { 
      -webkit-animation:    fade-out-display-none .6s cubic-bezier(0, .5, 0, 1) .5s forwards;
      -moz-animation:       fade-out-display-none .6s cubic-bezier(0, .5, 0, 1) .5s forwards;
      -o-animation:         fade-out-display-none .6s cubic-bezier(0, .5, 0, 1) .5s forwards;
      animation:            fade-out-display-none .6s cubic-bezier(0, .5, 0, 1) .5s forwards;

      & h1{
        -webkit-animation:  fade-out-display-none .5s cubic-bezier(0, .5, 0, 1) .3s forwards;
        -moz-animation:     fade-out-display-none .5s cubic-bezier(0, .5, 0, 1) .3s forwards;
        -o-animation:       fade-out-display-none .5s cubic-bezier(0, .5, 0, 1) .3s forwards;
        animation:          fade-out-display-none .5s cubic-bezier(0, .5, 0, 1) .3s forwards;
      }
  }
}

// ===================================================================== //
// ===================================================================== //
// HEADER

// @include media-breakpoint-up(xs) {
//   header nav.menu{
//     height: 0;
//     overflow:hidden;
//   }
// }

@include media-breakpoint-up(md) {
  body{ margin-top: 90px;}
  
  header {
    .containerHeader {
        height: 90px;
    }

    nav.menu {
      position: relative;
      display:flex!important;
      background: none;
      padding: 0!important;


      ul{
          flex-direction: row;

          li:not(:last-child):after{
            display:block;
          }

          & li{
            margin-right: 18px; 
        
            a{
              font-size: 1.2rem!important;
              padding: 10px 3px;
            }
          }
        }
    }

    //nav.menuMobile { display: none }

  }

  //header .openMenuButton{ display:none }
}

@include media-breakpoint-up(lg) {

  header nav.menu ul li a{
    font-size: 1.2rem!important;
    padding: 10px 10px;
  }

  // header nav.menu .mobileAdd{
  //   display: none;
  // }
}

@include media-breakpoint-up(xl) {
    body{ margin-top: 124px;}

    header .controls .buttons{
      width: 124px;
    }
    header .containerHeader {
      height: 124px;
    }
}





// @include media-breakpoint-up(sm) {
//   html {
//       font-size: .7rem;
//   }
// }

// @include media-breakpoint-up(md) {
//   html {
//       font-size: .9rem;
//   }
// }

@include media-breakpoint-up(lg) {
  html {
      font-size: 1rem;
  }
}

@include media-breakpoint-up(xl) {
  html {
      font-size: 1rem;
  }

  .container{ 
    // @include _assert-ascending($container-max-widths, "$container-max-widths");
    max-width: 1500px;
  }
}